.main-Window {

    height: 50%; 
    text-align: center;
    padding: 1rem;
    font-size: 3rem; 
    color: #ffffff;
}
.item{
    width: 30%;
    color: #ffffff;
    padding: 4px;
}
.contour {
    border-radius: 15px;
    border: 3px solid #000000;
}

.correct  {
    background-color: green !important;
    color: white !important;
}
.incorrect {
    background-color: red !important;
    color: white !important;
}

.showCorrect {

    background-color: lightgreen !important;
    color: white !important;
    border : 2px solid green !important ;
}