<div class="fluid-container p-4 m-3 h-100 parent">
    <div *ngIf="quiz">
        <ng-container *ngIf="index != quiz.quiz_questions.length; else elseBlock">
            <app-quizz-question [question]="quiz.quiz_questions[index]"></app-quizz-question>
        </ng-container>
        <ng-template #elseBlock>
            <app-quizz-add-question></app-quizz-add-question>
        </ng-template>
        
        <!--  The nav bar to go trought questions :  -->
        <div class="container w-50  mt-4 bg-white d-flex justify-content-between fixing">
            <img src="../../assets/arrow-left-icon.webp" (click)="left()" class=" nav_icon">
            <img src="../../assets/arrow-right-icon.webp" (click)="right()" class=" nav_icon">
            <img src="../../assets/pencil-icon.webp" class= "nav_icon" (click)="modifyQuestion()" >
            <img src="../../assets/recycle-bin-icon.webp" class= "nav_icon" (click)="deleteQuestion()">
            
        </div>
    </div>
    
</div>
<app-edit-question #contentEdit></app-edit-question>
<app-delete-model #contentDelete></app-delete-model>