<div class="fluid-container p-4 m-3 h-100 parent">

    <div *ngIf="quiz">
        <app-quizz-question [question]="quiz.quiz_questions[index]"></app-quizz-question>
    </div>

    <!--  The nav bar to go trought questions :  -->
    <div class="container w-50  mt-4 bg-white d-flex justify-content-between fixing">
        <img src="../../assets/arrow-left-icon.webp" (click)="left()" class=" nav_icon">
        <img src="../../assets/arrow-right-icon.webp" (click)="right()" class=" nav_icon">
        <img src="../../assets/pencil-icon.webp" class= "nav_icon">
        <img src="../../assets/recycle-bin-icon.webp" class= "nav_icon">

    </div>
    
</div>
