<div class="fluid-container p-4 m-3 h-100 parent">


    <app-quizz-question></app-quizz-question>

    <div class="container w-50  mt-4 bg-white d-flex justify-content-between fixing">
        <img src="../../assets/arrow-left-icon.webp" style="height:16 px ; width: 16px;">
        <img src="../../assets/arrow-right-icon.webp" style="height:16 px ; width: 16px;">
        <img src="../../assets/pencil-icon.webp" style="height:16 px ; width: 16px;">
        <img src="../../assets/recycle-bin-icon.webp" style="height:16 px ; width: 16px;">

    </div>
    
</div>
