<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Quiz Configuration</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">&times;</button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="quizName">Quiz name</label>
				<input type="text" id="quizName" class="form-control" name="quizName" [(ngModel)]="title" required>
			</div>
			<div class="mb-3">
				<label for="projectDescription">Quiz Description</label>
				<textarea id="projectDescription" class="form-control" name="projectDescription" [(ngModel)]="description" required></textarea>
			</div>
			<div class="mb-3">
				<label for="question1">Add First Question </label>
				<input type="text" id="question1" class="form-control" name="question1" [(ngModel)]="question" required>
			</div>
			<div class="mb-3">
				<div class="container">
					<div class="row">
						<div class="mb-3 col-6">
							<label for="option1">Add option 1 </label>
							<div class="d-flex justify-content-between">
								<input type="text" id="option1" class="form-control" name="option1" [(ngModel)]="option1" required>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="isCorrect1" name="isCorrect" [(ngModel)]="correctOption" [value]="'option1'" />
								</div>
							</div>
						</div>
						<div class="mb-3 col-6">
							<label for="option2">Add option 2 </label>
							<div class="d-flex justify-content-between">
								<input type="text" id="option2" class="form-control" name="option2" [(ngModel)]="option2" required>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="isCorrect2" name="isCorrect" [(ngModel)]="correctOption" [value]="'option2'" />
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="mb-3 col-6">
							<label for="option3">Add option 3 </label>
							<div class="d-flex justify-content-between">
								<input type="text" id="option3" class="form-control" name="option3" [(ngModel)]="option3" required>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="isCorrect3" name="isCorrect" [(ngModel)]="correctOption" [value]="'option3'" />
								</div>
							</div>
						</div>
						<div class="mb-3 col-6">
							<label for="option4">Add option 4 </label>
							<div class="d-flex justify-content-between">
								<input type="text" id="option4" class="form-control" name="option4" [(ngModel)]="option4" required>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="isCorrect4" name="isCorrect" [(ngModel)]="correctOption" [value]="'option4'" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>
