<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold">Your Quizzes</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
     
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Quizz BDI </strong>
          <div class="d-flex  justify-content-between" style="width: 20%;">
          <small class="text-muted"><img src="../../assets/recycle-bin-icon.webp" height="16px" width="16px"></small>
          <small class="text-muted"><img src="../../assets/pencil-icon.webp" height="16px" width="16px"></small>
        </div>
        </div>
        <div class="col-10 mb-1 small">A general culture quizz for upcoming events</div>
      </a>
      
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-center">
          <strong class="mb-1">Add a new Quizz </strong>
          
        </div>
      </a>
      
     
    </div>
  </div>